---
import ExperienceItem from './ExperienceItem.astro';
import type { WorkItem } from '../repostitories/resume.types';
import resumeData from '../repostitories/resume.json';
const work: WorkItem[] = resumeData.work;
---

<ol id="experienceList" class="relative border-gray-200 dark:border-gray-700">
    {
        work ? (
            work.map((experience) => {
                return (
                    <li>
                        <ExperienceItem {...experience} />
                    </li>
                );
            })
        ) : (
            <p>You must provide a valid working experience</p>
        )
    }
</ol>
