---
import ExperienceItem from './ExperienceItem.astro';
import type { WorkItem } from '../repositories/resume.types';
import resumeData from '../repositories/resume.json';
const work: WorkItem[] = resumeData.work;
---

<ol
    id="experienceList"
    class="relative border-s-2 dark:border-gray-200 border-gray-700"
>
    {
        work ? (
            work.map((experience) => {
                return (
                    <li>
                        <ExperienceItem {...experience} />
                    </li>
                );
            })
        ) : (
            <p>You must provide a valid working experience</p>
        )
    }
</ol>
