---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
    {
        date: 'date',
        title: 'title',
        company: 'company',
        description:
            'this is abig description to test the balance in the section. it has a lot of characters and words and is too long, you can made it more  bigger if you can , but whit abouit 3 lines will be ok.',
        link: 'url',
    },
    {
        date: 'date',
        title: 'title',
        company: 'company',
        description: 'description',
        link: 'url',
    },
    {
        date: 'date',
        title: 'title',
        company: 'company',
        description: 'description',
        link: 'url',
    },
    {
        date: 'date',
        title: 'title',
        description: 'description',
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
    {
        EXPERIENCE.map((experience) => {
            return (
                <li>
                    <ExperienceItem {...experience} />
                </li>
            );
        })
    }
</ol>
