---
import resumeData from '@repositories/resume.json';
import AstroIcon from '../../icons/technologyIcons/AstroIcon.astro';
---

<footer
    class="w-full shadow border-t border-black fixed bottom-0 left-0 z-20 bg-[#05161A] flex items-center justify-center"
>
    <div
        class="py-5 items-center w-full md:max-w-5xl p-2 flex flex-col-reverse md:flex-row justify-between gap-2"
    >
        <span class="text-sm text-gray-500 text-center dark:text-gray-400 flex"
            >Made with <AstroIcon class="size-4 mx-1 relative top-1.5" />
            by Carlos Niño
        </span>
        <ul
            class="flex flex-wrap items-around mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
            <li>
                <a href="#about-me" class="hover:underline me-4 md:me-6"
                    >About</a
                >
            </li>
            <li>
                <a href="#experience" class="hover:underline me-4 md:me-6"
                    >Experience</a
                >
            </li>
            <li>
                <a href="#projects" class="hover:underline me-4 md:me-6"
                    >Projects</a
                >
            </li>

            <li>
                <a
                    href={'mailto:' + resumeData.basics.email}
                    class="hover:underline">Contact</a
                >
            </li>
        </ul>
    </div>
</footer>
